<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/header::head(~{::title})}">
    <title>大喜利</title>>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script>
            var vue = new Vue ({
                el: '#app',
                data: {
                    today: ''
                },
                created: function(){
                    // 当日の日付を取得し、yyyy-mm-dd形式に変換
                    var currentDate = new Date();
                    var year = currentDate.getFullYear();
                    var month = ('0' + (currentDate.getMonth() + 1)).slice(-2); // 0が埋められた二桁の月
                    var day = ('0' + currentDate.getDate()).slice(-2); // 0が埋められた二桁の日
                    this.today = year + '-' + month + '-' + day;
                }
            })
        </script>
</head>

<body>
    <header th:replace="~{layout/header::header}"></header>
    <div  style="margin-top: 80px;">
        <h1>お題追加画面</h1>
    </div>
    
    <li class="list-group-item" style="border: #04aa4f solid 1px; font-size: 100%; padding: 15px;">
        <!-- HTML -->
        <div class="row">
            <div class="col-md-12">
                <form th:action="@{/addTheme_confirm}" method="POST">
                    <p >お題を入力してください</p>

                    <!-- 初期表示 -->
                    <div th:if="${theme == null}">
                        <input type="text" class="form-control" name="themeName" placeholder="お題" required>
                        <label for="deadlineFrom">回答期限 :</label>
                        <input type="date" id="deadlineFrom" name="deadlineFrom" required>
                        <label for="deadlineTo">～</label>
                        <input type="date" id="deadlineTo" name="deadlineTo" required>
                    </div>

                    <!-- 戻るボタン時表示 -->
                    <div th:unless="${theme == null}">
                        <input type="text" class="form-control" name="themeName" placeholder="お題" th:value="${theme.themeName}" required>
                        <label for="deadlineFrom">回答期限 :</label>
                        <input type="date" id="deadlineFrom" name="deadlineFrom" th:value="${theme.deadlineFrom}" required v-bind:min="today" >
                        <label for="deadlineTo">～</label>
                        <input type="date" id="deadlineTo" name="deadlineTo" th:value="${theme.deadlineTo}" required v-bind:min="today">
                    </div>
                    
                    
                    <div class="col-md-6">
                        <a th:href="@{/home}" class="btn btn-primary">戻る</a>
                        <button type="reset" class="btn btn-secondary">クリア</button>
                        <button type="submit" class="btn btn-success">決定</button>
                    </div>
                </form>
            </div>
        </div>
    </li>





    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
        <script>
            // 当日の日付を取得
            var today = new Date();
            // deadlineFromのinput要素を取得
            var deadlineFromInput = document.getElementById("deadlineFrom");
            // deadlineToのinput要素を取得
            var deadlineToInput = document.getElementById("deadlineTo");
    
            // deadlineFromに当日の日付を設定
            deadlineFromInput.valueAsDate = today;
    
            // deadlineToに当日の翌日の日付を設定
            var tomorrow = new Date(today);
            tomorrow.setDate(tomorrow.getDate() + 1);
            deadlineToInput.valueAsDate = tomorrow;

            // deadlineFromの値が変更された時の処理
            deadlineFromInput.addEventListener("change", function () {
                // deadlineFromの日付を取得
                var deadlineFromDate = new Date(this.value);
                // deadlineToにdeadlineFrom以降の日付を設定
                deadlineToInput.min = this.value; // deadlineFromの値を最小値とする
    
                // 現在の日付より過去の日付を選択した場合、deadlineFromを現在の日付にする
                if (deadlineFromDate < today) {
                    deadlineFromInput.valueAsDate = today;
                    deadlineToInput.min = today.toISOString().split('T')[0];
                }
    
                // deadlineToの値がdeadlineFromより前の場合、deadlineToをdeadlineFromと同じにする
                if (new Date(deadlineToInput.value) < deadlineFromDate) {
                    deadlineToInput.valueAsDate = deadlineFromDate;
                }
            });
        </script>
    <footer th:replace="~{layout/footer::footer}"></footer>
</body>

</html>