<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head th:replace="layout/header::head(~{::title})">
	<title>大喜利</title>
</head>
<body>
	<header th:replace="layout/header::header"></header>
	<div>
		<section style="border: #ff69b4 solid 1px; font-size: 100%; padding: 15px;">
			<h2>こんなお題は嫌だ</h2>
			<p>受付期限：2024-04-01</p>
            <form action="submit_theme.php" method="POST">
                <div>
                    <label for="input">入力:</label>
                    <textarea id="input" name="input" rows="4" cols="50" required></textarea>
                </div>
                <div>
                    <button onclick="history.back(); return false;">戻る</button>
                    <button type="button" onclick="clearForm()">クリア</button>
                    <button type="submit">送信</button>
                </div>
            </form>
		</section>
	</div>
	<footer th:replace="layout/footer::footer"></footer>
</body>
</html>