<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.ThemeMapper">

    <select id="getAllTheme" resultType="com.example.hello.bean.Theme">
        SELECT * FROM Theme WHERE deadline_to > NOW() ORDER BY deadline_to ASC;
    </select>
    <select id="getTheme" resultType="com.example.hello.bean.Theme">
        SELECT * FROM Theme WHERE theme_id= #{themeId}
    </select>
    <select id="getOverTheme" resultType="com.example.hello.bean.Theme">
        SELECT * FROM Theme WHERE deadline_to &lt;= NOW() ORDER BY deadline_to DESC;
    </select>
    <insert id="registerTheme" parameterType="com.example.hello.bean.Theme">
        INSERT INTO theme(theme_name,deadline_from,deadline_to,user_name) VALUES (#{themeName},#{deadlineFrom},#{deadlineTo},#{userName});
    </insert>
</mapper>
