<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.VoteMapper">
    <insert id="voteAnswer" parameterType="com.example.hello.bean.Vote">
        INSERT INTO vote(theme_id,user_name,answer_id) VALUES (#{themeId},#{userName},#{answerId});
    </insert>
    <select id="voteCheck" resultType="com.example.hello.bean.Vote">
        SELECT * FROM vote WHERE user_name=#{userName} and theme_id=#{themeId};
    </select>
    <delete id="votedelete" parameterType="com.example.hello.bean.Vote">
        DELETE FROM public.vote WHERE theme_id = #{themeId} AND user_name = #{userName};
    </delete>
</mapper>
